---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import { getCollection } from "astro:content";

import Grid from "../components/Grid.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";

import Skills from "../components/Skills.astro";
import Footer from "../components/Footer.astro";
import Feature from "../components/Feature.astro";

const projects = (await getCollection("work")).sort(
  (a, b) => a.data.sort - b.data.sort
);
---

<DefaultLayout title="passbox">
  <div class="stack gap-20 lg:gap-48">
    <div class="wrapper stack gap-8 lg:gap-20">
      <header class="hero">
        <Hero />
      </header>
      <Skills />
    </div>

    <main class="wrapper stack gap-20 lg:gap-48">
      <section class="section with-background with-cta">
        <div class="gallery">
          <Grid variant="offset">
            {
              projects.map((project) => (
                <li>
                  <PortfolioPreview project={project} />
                </li>
              ))
            }
          </Grid>
        </div>
      </section>
      <section class="my-12">
        <div class="container">
          <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
            <Feature src="1.png" />
            <Feature src="2.png" />
            <Feature src="10.png" />

            <Feature src="4.png" />
            <Feature src="5.png" />
            <Feature src="6.png" />

            <Feature src="7.png" />
            <Feature src="14.png" />
            <Feature src="8.png" />
          </div>
        </div>
        <Footer />
      </section>
    </main>
  </div>

  <style>
    main {
      margin: auto;
      padding: 1.5rem;
      max-width: 90ch;
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 1rem;
      padding: 0;
    }
    .text-primary {
      color: #9333ea;
    }
  </style>
</DefaultLayout>
