---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import { getCollection } from "astro:content";

import Grid from "../components/Grid.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";

import Skills from "../components/Skills.astro";
import Footer from "../components/Footer.astro";
import Feature from "../components/Feature.astro";

const projects = (await getCollection("work")).sort(
  (a, b) => a.data.sort - b.data.sort
);
---

<DefaultLayout title="passbox">
  <div class="stack gap-20 lg:gap-48">
    <div class="wrapper stack gap-8 lg:gap-20">
      <!-- TODO v1.1.0 -->
      <div class="notify">
        您现在浏览的是 passbox v1.0.0 版本的官网，全新版本 v1.1.0-alpha.1 已经发布，
        <br/>
        集成笔记应用，快捷键设置，记录编辑历史，等等...
        <br/>
        超多新功能欢迎您 <a href="https://github.com/zzk13180/passbox/releases">下载体验！</a>
      </div>
      <header class="hero">
        <Hero />
      </header>
      <Skills />
    </div>

    <main class="wrapper stack gap-20 lg:gap-48">
      <section class="section with-background with-cta">
        <div class="gallery">
          <Grid variant="offset">
            {
              projects.map((project) => (
                <li>
                  <PortfolioPreview project={project} />
                </li>
              ))
            }
          </Grid>
        </div>
      </section>
      <section class="my-12">
        <div class="container">
          <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
            <Feature src="/passbox/introduction/1.png" />
            <Feature src="/passbox/introduction/2.png" />
            <Feature src="/passbox/introduction/10.png" />

            <Feature src="/passbox/introduction/4.png" />
            <Feature src="/passbox/introduction/5.png" />
            <Feature src="/passbox/introduction/6.png" />

            <Feature src="/passbox/introduction/7.png" />
            <Feature src="/passbox/introduction/14.png" />
            <Feature src="/passbox/introduction/8.png" />
          </div>
        </div>
        <Footer />
      </section>
    </main>
  </div>

  <style>
    main {
      margin: auto;
      padding: 1.5rem;
      max-width: 90ch;
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 1rem;
      padding: 0;
    }
    .text-primary {
      color: #9333ea;
    }
    .notify {
      text-align: center;
      padding: 6px;
      width: 100%;
      background-color: #9333ea;
      border-radius: 6px;
      position: relative;
      top: 10px;
      left: 0;
    }
  </style>
</DefaultLayout>
