---
import { Icon } from "astro-icon";

const { src = "/passbox/202304302027.mp4" } = Astro.props;
---

<section class="hero my-6">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot>
            Welcome to
            <span class="text-gradient">PassBox</span>
          </slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="https://github.com/zzk13180/passbox">
            <Icon pack="ion" name="star-outline" />
            Star on GitHub
          </a>
          <a
            class="button has-icon color-secondary"
            href="https://github.com/zzk13180/passbox/releases"
          >
            <Icon pack="ion" name="download" />
            Free download
          </a>
        </div>
      </div>
      <div class="flex flex-col items-center gap-8 md:items-end">
        <video class="lg:block" controls aspect-ratio="16/9" src={src}></video>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .hero {
    margin-top: 6rem !important;
  }
  .text-gradient {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-500)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-400)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
