---
import "../styles/global.css";
import "../assets/scss/globals.scss";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" property="og:description" content="passbox" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/passbox/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="stack backgrounds" id="main-content">
      <slot />
    </div>
    <script>
      addEventListener("load", () =>
        document.documentElement.classList.add("loaded")
      );
    </script>
    <style lang="scss" is:global>
      // theme settings
      :root {
        --radius-small: 3px;
        --radius-large: 6px;
        --gap-default: 2rem;
        --font-measure: 70ch;
        --font-family-default: "Open Sans", sans-serif;
        --font-family-special: "Open Sans", sans-serif;
        // light theme
        --font-color: var(--neutral-900);
        --action-color: var(--primary-300);
        --action-color-state: var(--primary-500);
        --background: var(--neutral-100);
        --primary-background: var(--primary-100);
        --neutral-background: var(--neutral-200);
        --_placeholder-bg: linear-gradient(transparent, transparent);
        --bg-image-main: url("./assets/backgrounds/bg-main-light-800w.jpg");
        --bg-image-main-curves: url("./assets/backgrounds/bg-main-light.svg");
        --bg-image-subtle-1: var(--_placeholder-bg);
        --bg-image-subtle-2: var(--_placeholder-bg);
        --bg-image-footer: var(--_placeholder-bg);
        --bg-svg-blend-mode: overlay;
        --bg-blend-mode: darken;
        --bg-image-aspect-ratio: 2.25;
        --bg-scale: 1.68;
        --bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
        --bg-gradient-size: calc(var(--bg-scale) * 100%);
      }

      :root.theme-dark {
        --bg-image-main: url("./assets/backgrounds/bg-main-dark-800w.jpg");
        --bg-image-main-curves: url("./assets/backgrounds/bg-main-dark.svg");
        --bg-svg-blend-mode: darken;
        --bg-blend-mode: lighten;
      }

      :root.loaded {
        --bg-image-subtle-1: url("./assets/backgrounds/bg-subtle-1-light-800w.jpg");
        --bg-image-subtle-2: url("./assets/backgrounds/bg-subtle-2-light-800w.jpg");
        --bg-image-footer: url("./assets/backgrounds/bg-footer-light-800w.jpg");
      }

      :root.loaded.theme-dark {
        --bg-image-subtle-1: url("./assets/backgrounds/bg-subtle-1-dark-800w.jpg");
        --bg-image-subtle-2: url("./assets/backgrounds/bg-subtle-2-dark-800w.jpg");
        --bg-image-footer: url("./assets/backgrounds/bg-footer-dark-800w.jpg");
      }

      .backgrounds {
        min-height: 100%;
        isolation: isolate;
        background:
					/*noise*/ url("./assets/backgrounds/noise.png") top
            center/220px repeat,
          /*footer*/ var(--bg-image-footer) bottom
            center/var(--bg-gradient-size) no-repeat,
          /*header1*/ var(--bg-image-main-curves) top
            center/var(--bg-gradient-size) no-repeat,
          /*header2*/ var(--bg-image-main) top center/var(--bg-gradient-size)
            no-repeat,
          /*base*/ var(--gray-999);
        background-blend-mode: /*noise*/ overlay,
          /*footer*/ var(--bg-blend-mode), /*header1*/ var(--bg-svg-blend-mode),
          /*header2*/ normal, /*base*/ normal;
      }
      @media (forced-colors: active) {
        /* Deactivate custom backgrounds for high contrast users. */
        .backgrounds {
          background: none;
          background-blend-mode: none;
          --bg-gradient-size: none;
        }
      }

      // dark color scheme overrides
      .darkmode {
        --font-color: var(--neutral-100);
        --action-color: var(--secondary-100);
        --action-color-state: var(--secondary-500);
        --background: var(--dark-100);
        --primary-background: var(--primary-500);
        --neutral-background: var(--neutral-900);
      }

      // sticky footer on low content pages
      html,
      body {
        height: 100%;
        overflow-x: hidden;
      }

      body {
        display: flex;
        flex-direction: column;
        color: var(--font-color);
        background-color: var(--background);

        main {
          flex: 1 0 auto;
        }

        footer {
          flex-shrink: 0;
        }
      }

      pre {
        padding: 1rem;
        border-radius: 0.35rem;
        border: 2px solid var(--action-color);
      }

      body .pagination a {
        &:hover,
        &:focus-visible {
          background-color: var(--action-color-state);

          svg path {
            stroke: white;
          }
        }
      }
    </style>
  </body>
</html>
